@page "/"

<PageTitle>Home</PageTitle>


    <header>
        <div>
            <nav>
                <h1>Hello! Welcome to Cooks R Us! 🧑‍🍳</h1>
            </nav>
            <p>
                This site is made for people to upload recipes for the world to see,
                and even save recipes uploaded by others!
            </p>
        </div>
       
    </header>

    <main class="container">
        <div class="item">
            image if provided?
            <h2>
                recipe name
            </h2>
            <p>
                input the layout/details here?
            </p>
        </div>
    </main>

    <div class="footer-flex">
        <footer>
            <p>&copy; 2025 Cooks R Us. All rights reserved.</p>
        </footer>
    </div>