@using CooksRUs.Shared
@using Microsoft.EntityFrameworkCore
@inject CooksRUs.Database.CooksRUsDbContext dbContext

@page "/"

<PageTitle>Home</PageTitle>

<header>
    <h1>Welcome to Cooks R Us! 🧑‍🍳</h1>
    <p>Browse, save, upload — recipes for everyone.</p>
</header>

<h2>Your Saved Recipes ⭐</h2>

@if (userID == -1)
{
    <div class="PromptUserSignIn">

        <p>It seems you are't signed in...</p>
        <a href="/SignIn">Sign in or make an account here!</a>

    </div>
}
else
{
    

    @if (savedRecipes.Count == 0)
    {
        <p>You haven't saved anything yet — go explore!</p>
    }
    else

    {
        <div class="container">
            @foreach (var r in savedRecipes)
            {
                <RecipeCard Title="@r.recepie_name" Description="@r.directions" Creator="@r.creator" ImageURL="@r.image"
                            ShowSaveButton="userIsSignedIn" rec="r" />
            }
        </div>
    }

}
@code {
    int userID;
    bool userIsSignedIn;
    List<recepie> savedRecipes = new();          
    List<recepie> featuredRecipes = new();       

    protected override async Task OnInitializedAsync()
    {
        userID = await GetUserID();
        if (userID > 0)
        {
            await GetSavedRecepies();
            userIsSignedIn = true;

        }
    }

    private async Task GetSavedRecepies()
    {
        // Query the faved_recepies table and select the related recepie entity.
        savedRecipes = await dbContext.faved_recepies
            .Where(fr => fr.user_id == userID)
            .Select(fr => fr.recepie)
            .ToListAsync();
    }

    async Task SaveRecipe(recepie r)
    {
        Console.WriteLine("Save Ran");

        try
        {
            var userID = await cookie.GetValue();

            // avoid duplicate faves
            var exists = await dbContext.faved_recepies
                .AnyAsync(fr => fr.user_id == userID && fr.recepie_id == r.id);

            if (exists)
            {
                return;
            }

            dbContext.faved_recepies.Add(new faved_recepie
                {
                    user_id = userID,
                    recepie_id = r.id
                });

            await dbContext.SaveChangesAsync();
        }
        catch (Exception)
        {
            //an error happened
        }
    }

    private async Task<int> GetUserID()
    {
        try
        {
            return await cookie.GetValue();
        }
        catch
        {
            //User not signed in, show an error msg
            return -1;
        }
    }
}
