@page "/SignUp"
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer

<h2>Create a New Account</h2>

@if (!string.IsNullOrEmpty(validationMessage))
{
    <div class="validation-error">
        <p>⚠️ @validationMessage</p>
    </div>
}

<EditForm method="post" Model="newUser" OnValidSubmit="CreateUser" FormName="NewUserForm" Enhance>

    <ValidationSummary />

    <label>username:</label>
    <InputText placeholder="username" @bind-value="user_name" />
    <br />
    <label>password:</label>
    <InputText type="password" placeholder="password" @bind-value="newUserPassword" />
    <br />
    <button type="submit">Submit</button>
</EditForm>

@code {
    [SupplyParameterFromForm]
    public string user_name { get; set; } = "";
    [SupplyParameterFromForm]
    public string newUserPassword { get; set; } = "";

    string validationMessage;
    public user newUser { get; set; } = new user();


    private async Task CreateUser()
    {
        try
        {
            if(!string.IsNullOrWhiteSpace(user_name) && !string.IsNullOrWhiteSpace(newUserPassword))
            {
                newUser = new user { username = user_name, password = newUserPassword };

                dbContext.users.Add(newUser);
                await dbContext.SaveChangesAsync();
                await cookie.SetValue(newUser.id);
                navigation.NavigateTo("/", true);
            }
            else
            {
                validationMessage = "Username or password cannot be null or only whitespace.";
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }
}
