@page "/search"

<PageTitle>Search</PageTitle>



<body>
    <header>
        <div>
            <nav>
                <h1>🔍 Look For Recipes Here!</h1>
            </nav>
        </div>
        <div>
            <input type="text" id="search-bar" class="search-input"/>
            <button class="search-button" id="search-btn">Search 😋</button>
            <div style="border-top: 1px solid #6d3703 ; margin: 10px 0;"></div>
        </div>
        
    </header>
    <main class="container">
        
        <div class="item">
            <div style="border-top: 1px solid #6d3703 ; margin: 10px 0;"></div>
            <h2>
                recipe name 1 
            </h2>
            <div style="border-top: 1px solid #6d3703 ; margin: 10px 0;"></div>
            <p>
                input the layout here
                aefr ehsgr bsrbrsgr gsr
                sr gsergs g ergesgsre
                ger gsergrseg egesrges rgresgres
                gresgesr gesg r gesrg egr
                re greg sg gsrdsgsrdg sdr s
                gr esrg dsrgs drgs
            </p>
        </div>

        <div class="item">
            <div style="border-top: 1px solid #6d3703 ; margin: 10px 0;"></div>
            <h2>
                recipe name 2
            </h2>
            <div style="border-top: 1px solid #6d3703 ; margin: 10px 0;"></div>
            <p>
                input the layout here
                aefr ehsgr bsrbrsgr gsr
                sr gsergs g ergesgsre
                ger gsergrseg egesrges rgresgres
                gresgesr gesg r gesrg egr
                re greg sg gsrdsgsrdg sdr s
                gr esrg dsrgs drgs
            </p>
        </div>
    </main>

    <div class="footer-flex">
        <footer>
            <p>&copy; 2025 Cooks R Us. All rights reserved.</p>
        </footer>
    </div>
</body>


@code{

}