@using CooksRUs.Shared
@using CooksRUs.Entities

@page "/search"

<PageTitle>Search</PageTitle>

<header>
    <h1>🔍 Search Recipes</h1>
</header>

<input id="search-bar" class="search-input" @bind="query" placeholder="Search recipes..."/>
<button id="search-btn" @onclick="SearchRecipes">Search 😋</button>

@if(SearchResults.Count == 0)
{
    <p>No results yet — try searching something!</p>
}
else
{
    <div class="container">
        @foreach(var r in SearchResults)
        {
            <RecipeCard Title="@r.recepie_name" Description="@r.directions" Creator="@r.creator.username" ImageURL="@r.image"
                        ShowSaveButton="true" OnSave="() => SaveRecipe(r)" />
        }
    </div>
}

@code {
    string query = "";
    List<recepie> SearchResults = new();

    void SearchRecipes() {
        try
        {
            SearchResults = dbContext.recepies
            .Where(r => r.recepie_name.Contains(query))
            .ToList();
        }
        catch
        {
            SearchResults = new();
        }

    }

    void SaveRecipe(recepie r){
        int userID = cookie.GetValue().Result;

        dbContext.users.Where(u => u.id == userID).First().recepies.Add(r);
    }
}
