@page "/search"
@using CooksRUs.Models
@using CooksRUs.Services
@using CooksRUs.Shared
@using CooksRUs.Entities
@using System.Text

@inject IHttpClientFactory ClientFactory
@inject LocalSaveService SaveService

<PageTitle>Search</PageTitle>

<header>
    <div>
        <nav>
            <h1>🔍 Look For Recipes Here!</h1>
        </nav>
    </div>
    <div>
        <input type="text" id="search-bar" class="search-input" @bind="SearchText" @bind:event="oninput"/>
        <button class="search-button" id="search-btn" @onclick="SearchAsync">Search 😋</button>
        <div style="border-top: 1px solid #6d3703 ; margin: 10px 0;"></div>
    </div>

</header>
<main class="container">
    @if (Recipes is null)
    {
        <p>Type a keyword to search for recipes.</p>
    }
    else if (Recipes.Count == 0)
    {
        <p>No recipes found.</p>
    }
    else
    {
        @foreach (var recipe in Recipes)
        {
            <div class="item">
                 <RecipeCard Title="@recipe.RecipeName" Description="@recipe.Directions" Creator="TheMealDB" ImageURL="@recipe.Image"
                 ShowSaveButton="true" OnSave="() => SaveRecipeAsync(recipe)" />
            </div>
        }
    }
</main>

<div class="footer-flex">
    <footer>
        <p>&copy; 2025 Cooks R Us. All rights reserved.</p>
    </footer>
</div>


@code{
    private string SearchText { get; set; } = string.Empty;
    private List<Recipe>? Recipes { get; set; }

    private async Task SearchAsync()
    {
        if (string.IsNullOrWhiteSpace(SearchText))
        {
            Recipes = new List<Recipe>();
            return;
        }

        var client = ClientFactory.CreateClient("BackendApi");

        Recipes = await client.GetFromJsonAsync<List<Recipe>>($"api/recipes?searchQuery={Uri.EscapeDataString(SearchText)}");
    }


    private async Task SaveRecipeAsync(Recipe recipe)
    {
        await SaveService.SaveRecipeAsync(recipe);
    }
}
