@*DEPRICATED
    Moved to NewRecepiePage.razor
*@

@using CooksRUs.Shared
@*@page "/NewRecepie"*@
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer

<PageTitle>Upload</PageTitle>


<h2>Your Uploaded Recipes 📤</h2>

<div class="container">
    @foreach(var r in uploaded)
    {
        <RecipeCard Title="@r.recepie_name" Description="@r.directions" ImageURL="@r.image"
                    ShowEditControls="true"
                    OnEdit="() => EditRecipe(r)"
                    OnDelete="() => DeleteRecipe(r)" />
    }
</div>

@code {
    List<recepie> uploaded = new();
    Recipe newRecipe = new();

    void EditRecipe(recepie r){
        // future backend popup/edit page
    }

    void DeleteRecipe(recepie r){
        dbContext.recepies.Remove(r);
        dbContext.SaveChangesAsync();
    }
}
