@page "/upload"

<PageTitle>Upload</PageTitle>
<body>
    <header>
        <div>
            <nav>
                <h1>Share Your Recipes With The World! 🌎</h1>
            </nav>
            <p>
               Fill out the details below, and submit your recipe for all to see!
            </p>
        </div>
    </header>

    <main class="container">
        To-Do: Fill out main to display upload sheet
    </main>

    <div class="footer-flex">
        <footer>
            <p>&copy; 2025 Cooks R Us. All rights reserved.</p>
        </footer>
    </div>


</body>

@code {

}
